@charset "utf-8";
/**rest css**/
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;color:#000;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,\5b8b\4f53;color:#333;outline:0;}
body{background:#fff;}
a,
a:active,
a:link,
a:visited
{
	color: rgba(0,0,0,0.65);
}
a:hover {
	color: rgba(38,135,133,0.9);
}
a:hover,
a:active{ outline: 0; }
html,
body {
	width: 100%;
	height: 100%;
	font-size:20px;
	color:rgba(0,0,0,0.8); 
	background-color: #e5e4db;
	font-family: "Helvetica Neue","Helvetica","Microsoft YaHei","WenQuanYi Micro Hei",Arial,sans-serif;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: .8s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 0s;
}
@font-face {
    font-family: 'icons';
    src: url('../fonts/modernpics-webfont.eot');
    src: url('../fonts/modernpics-webfont.eot?#iefix') format('embedded-opentype'),
	 url('../fonts/modernpics-webfont.woff') format('woff'),
	 url('../fonts/modernpics-webfont.ttf') format('truetype'),
	 url('../fonts/modernpics-webfont.svg#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/*layout*/
.g-hd {
	position: relative;
	width: 100%;
	height: 3em;
	background-color: rgba(70,93,76,0.8);
}

.g-bd {
	margin: 0 auto;
	width: 70%;
	max-width:900px;
}

@media (max-width: 768px) {
	.m-header .u-logo {
		display: none;
	}
	.g-sd {
		overflow: hidden;
	}
	.m-post .u-hd .comments,.u-hd .u-icon-comments {
		display: none;
	}
}

@media (min-width: 767px) {
	.g-sd {
			float: left;
			margin-right:1em;
			width: 10em;
			min-width: 10em;
	}
}
.g-mn {
	overflow:hidden;
	zoom:1;
}
.g-ft{
	clear: both;
	width: 80%;
	margin: 2em  auto 2em auto;
	text-align: center;
	color: grey;
}
.g-pbd {
	  padding: 25px 30px 25px 30px;
	  font-size: 14px;
	  background-color: #fff;
	  word-break: break-all;
}
/*module*/
.m-header {
	margin: 0 auto;
	width: 70%;
	max-width:900px;
	height: 100%;
}
.m-nav,.m-pnav {
	overflow: hidden;
	height: 100%;	
}
.m-pnav {
	background-color: rgba(255,255,255,0.1);
}
.m-pnav .previous,
.m-pnav .next {
	display: block;
	width: 60px;
	height: 60px;
	font-size: 35px;
	font-family: monospace;
	text-align: center;
	line-height: 60px;
	color: rgba(255,255,255,0.5);
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s; 
}
.m-pnav .previous {
	float: left;
}
.m-pnav .next {
	float: right;
}
.m-pnav .previous:hover,
.m-pnav .next:hover {
	color: rgba(255,255,255,0.6);
	background-color:rgba(255,255,255,0.1);
	opacity: .9;
}
.m-nav ul{
	float: right;
	height:100%;
}
.m-nav ul li{
	height: 3em;
	width: 3em;
	text-align: center;
	line-height: 1.2;
}
.m-nav ul li a span {
	color: rgba(255,255,255,0.5);
}

.m-nav ul li:hover{
	background-color: rgba(255,255,255,0.1);
	cursor: pointer;
}

.m-aboutme,.m-lst {
	position: relative;
	font-size: 16px;
	text-align: center;
	background-color: #fff;
}
.m-aboutme {
	padding: 20px 0 30px 0;
}
.m-aboutme .avatar {
	position: relative;
	width: 112px;
	height: 112px;
	margin: 0 auto;
	border-radius:50%;
	text-align: center;
	vertical-align: middle;
	background-color: rgba(70,93,76,0.8);
}

.m-aboutme .avatar img {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;	
	width: 100px;
	height: 100px;
	border-radius: 50%;
	cursor:pointer;
	-webkit-transition: -webkit-transform 1s ease;
	-moz-transition: -moz-transform 1s ease;
	-o-transition: -o-transform 1s ease;
	transition: transform 1s ease;
}
.m-aboutme .avatar img:hover {
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	transform:rotate(360deg);
}
.m-aboutme h2{padding-top:15px;}
.m-aboutme h2,.m-lst h2{
	font-size: 20px;
	font-weight:normal;
	text-align: center;
}
.m-lst {
	padding-bottom: 50px;
	margin-bottom: 20px;
}
.m-lst:after {
	content: "";
	display: block;
	position: absolute;
	left:50%;
	bottom: -20px;
	margin-left: -20px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #e5e4db;
}
.m-lst h2 {padding: 15px 10px 10px 5px;}
.m-lst ul li:hover{background-color:#fafaf4;}
.m-lst ul li{
	display: block;
	position: relative;
	border-top:1px solid #e5e4db;
	padding: 5px 10px;
	word-wrap:break-word;
	cursor: pointer;
}
.m-lst ul li:last-child{
	border-bottom: 1px solid #e5e4db;
}
.m-lst ul li a{
	display: block;
	width: 100%;
	height: 100%;
	line-height: 1.5;
	box-sizing: border-box;
}
.m-lst-archive ul li a {
	display:inline;
}
.m-lst-archive .archive-list-count{
	margin-left: 5px;
	color: rgba(0,0,0,0.65);
}
.m-lst-archive .archive-list-count:before {
	content: '(';
}
.m-lst-archive .archive-list-count:after {
	content: ')';
}
.m-lst-tagcloud {
	text-align: left;
	padding: 0 10px 50px 10px;
}

.m-lst-tagcloud a {
	display:inline-block;
	margin-right:5px;
	padding: 4px 5px;
	font-weight:bold;
	color:rgb(70,93,76);
}
.m-lst-tagcloud a:hover {
		background-color: rgba(70,93,76,1);
		color: #fff;
}
.m-lst-weibo h2{
	border-bottom:1px solid #e5e4db;
}
.m-lst-weibo:before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 45px;
	width: 100%;
	height:20px;
	border-bottom:1px solid #e5e4db;
}

.m-post {
	position: relative;
	padding: 25px 30px 25px 30px;
	margin-bottom: 20px;
	background-color: #fff;
	color: rgba(0,0,0,0.8);
	min-height: 100px;
	font-size: 16px;
}
.m-post .title {
	display: inline-block;
	font-size: 24px;
}
.m-post .comments {
	display: inline-block;
	float: right;
	font-size: 1.25em;
	color: rgb(70,93,76);
}
.m-tags {
	margin:10px 0 15px 0;
	font-size:14px;
}
.m-tags ul:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}
.m-tags ul li,.m-readme a,.m-pager a{
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.m-tags ul li {
	padding: 5px;
	float: left;
	margin-right: 3px;
}
.m-tags ul li:hover{
	background-color: rgba(70,93,76,0.8);
}
.m-tags ul li:hover a{
	color: #fff;
}
.m-cnt-excerpt {
	margin-bottom: 20px;
	line-height: 1.5;
	font-size:16px;
}
.m-readme{overflow: hidden;zoom: 1;}
.m-readme a,.m-readme time{padding: 5px;}
.m-readme a {
	display: inline-block;
	float: right;
}
.m-readme time {
	float:left;
}
.m-readme a:hover,
.m-pager a:hover,.m-pager span.current{
	color: #fff;
	background-color: rgba(70,93,76,0.8);
}
.m-pager {
	overflow:hidden;
	font-size: 14px;
	line-height: 40px;
	text-align: center;
}
.m-pager .pre,.m-pager .next{
	display: block;
}
.m-pager .prev {
	float: left;
}
.m-pager .next {
	float: right;
}

.m-pager .prev,
.m-pager .next {
	height: 30px;
	margin-top: 5px;
	padding: 0 10px;
	line-height: 30px;
}

.m-pager .page-number {
	position: relative;
	display: inline-block;
	border-top:2px solid rgba(70,93,76,0.8);
	margin-right: 10px;
	width: 40px;
	height: 40px;
	line-height: 36px;
	text-align: center;
	vertical-align: middle;
	background-color:rgba(255,255,255,0.8);
}
.m-pager .page-number:after {
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -5px;
	bottom: -5px;
	width: 10px;
	height: 10px;
	background-color: #e5e4db;
	border-radius: 50%;
}

.m-ptitle {
	margin: 0 auto 20px auto;
	font-size: 30px;
}
.m-ptitle h1 {font-weight: normal;}
.m-pdate{
	overflow: hidden;
	zoom: 1;
	margin: 0 auto 30px auto;
	padding-bottom:10px;
	border-bottom:1px solid #dbdbdb;
}
.m-pdate time {
	float: right;
}
.m-ptitle h1,.m-cnt a,.m-pdpager a,.m-ft a {
	color: rgb(70,93,76);
}
.m-cnt a:hover,.m-pdpager a:hover,.m-ft a:hover {
	text-decoration: underline;
}
.m-cnt,.m-tags,.m-pdpager {font-size:16px;}
.m-cnt{
	line-height:1.5;
}

.m-cnt .toc-article {
  padding: 1em;
  margin: 0 0 0 2em;
  border: 1px solid #ddd;
  background: #efefef;
  -webkit-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.m-cnt .toc-article ol{
	margin:0;
}
.m-cnt .toc-article ol li{
	margin: 5px 0;
	cursor:pointer;
}
.m-cnt .toc-article ol li a{
	z-index:1;
}
.m-cnt .toc-article ol.toc-child{
	padding-left:20px;
}
#toc {
  position: relative;
  float: right;
  z-index: 99;
  font-size: 14px;
}

#toc .toc li {
  list-style-type: none;
}

.m-cnt h1,
.m-cnt h2,
.m-cnt h3,
.m-cnt h4,
.m-cnt h5,
.m-cnt h6 {
	margin: 5px 0; 
}
.m-cnt h1{font-size:24px;margin: 10px 0;}
.m-cnt h2{font-size:20px;margin: 8px 0;}
.m-cnt h3{font-size:18px;}
.m-cnt h4{font-size:16px;}
.m-cnt h5{font-size:14px;}
.m-cnt h6{font-size:12px;color:#777;background-color:inherit;}
.m-cnt hr{
	height: 0.2em;
    border: 0;
    color: #333;
    background-color: #333;
}
.m-cnt table {
	width:100%;
}
.m-cnt img{
	display: block;
	max-width: 100%;
	width: auto;
	height: auto;	
	margin:5px auto;
}
.m-cnt .caption {
	position: relative;
	display: block;
	margin-top: 0.5em;
	color: #999;
	font-size: 0.9em;
	text-align: center;
}
.m-cnt table th,
.m-cnt table td{
	padding: 8px;
	border: 1px solid #ccc;
	vertical-align: middle;
	text-align: center;
	word-break: normal;
}
.m-cnt p,
.m-cnt blockquote,
.m-cnt ul,
.m-cnt ol,
.m-cnt dl,
.m-cnt table,
.m-cnt pre {
	margin: 15px 0;
    position: relative;
}
.m-cnt a {
	font-weight:bold;
}
.m-cnt code {
	padding: 0 5px;
	margin: 0 2px;
	border: 1px solid #d6d6d6;
	font-size: 90%;
	text-shadow: 0 1px #fff;
	-webkit-border-radius: .25em;
	-webkit-border-radius: .25em;
	border-radius: .25em;
	color: #d14;
	background: #eee;
	font-family: Monaco,Menlo,Consolas,Courier New,monospace;
}

.m-cnt blockquote {
	color:#585858;
    margin:0;
    padding-left: 1.5em;
    border-left: 0.35em solid rgba(70,93,76,0.8);
}
.m-cnt ol,.m-cnt ul {
	margin-left: 20px;
}
.m-cnt ol li{
	list-style-type:decimal;
}
.m-cnt ul li{
	list-style-type:disc;
}
/*********/
.m-cnt figure table td{
	text-align: left;
}
.m-cnt pre,
.m-cnt .highlight,
.m-cnt .highlight pre {
  background: #2d2d2d;
  margin: 0.5em 0;
  padding: 0.5em 2%;
  color: #ccc;
  line-height: 1.5;
  font-size: 0.8em;
  -webkit-border-radius: 0.35em;
  -webkit-border-radius: 0.35em;
  border-radius: 0.35em;
  word-wrap: break-word;
}
@media only screen and (min-width: 568px) {
  .m-cnt pre,
  .m-cnt .highlight,
  .m-cnt .highlight pre,
.m-cnt pre,
.m-cnt .highlight,
.m-cnt .highlight pre {
    font-size: 0.95em;
  }
}
.m-cnt .highlight .gutter pre,
.m-cnt .gist .gist-file .gist-data .line-numbers {
  color: #666;
  font-size: 0.4em;
}
@media only screen and (min-width: 568px) {
  .m-cnt .highlight .gutter pre,
  .m-cnt .gist .gist-file .gist-data .line-numbers,
.m-cnt .highlight .gutter pre,
.m-cnt .gist .gist-file .gist-data .line-numbers {
    font-size: 0.95em;
    line-height: 1.5;
  }
}
.m-cnt pre {
  font-family: Monaco, Menlo, Consolas, Courier New, monospace;
  background: #f5f5f5;
  border: 1px solid #ccc;
  word-wrap: break-word;
}
.m-cnt pre code {
  color: #333;
  font-size: 0.95em;
  border:0;
  background: none;
  text-shadow: none;
  padding: 0;
}
.m-cnt .highlight {
  overflow: auto;
  font-size: 0.4em;
}
@media only screen and (min-width: 568px) {
  .m-cnt .highlight {
    font-size: 0.95em;
  }
}
.m-cnt .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.m-cnt .highlight table {
  margin: 0;
  width: auto;
}
.m-cnt .highlight td {
  border: none;
  padding: 0;
}
.m-cnt .highlight figcaption {
  zoom: 1;
  font-size: 0.85em;
  text-align: left;
  color: #999;
  line-height: 1em;
  padding: 0.5em 0;
  margin-bottom: 0.5em;
}
.m-cnt .highlight figcaption:before,
.m-cnt .highlight figcaption:after {
  content: "";
  display: table;
}
.m-cnt .highlight figcaption:after {
  clear: both;
}
.m-cnt .highlight figcaption a {
  float: right;
}
.m-cnt .highlight .gutter pre {
  text-align: right;
  padding-right: 1.5em;
}
.m-cnt .highlight .line {
  height: 20px;
}
.m-cnt .gist {
  margin: 0.5em 0;
  background: #2d2d2d;
  padding: 1em 2%;
}
.m-cnt .gist .gist-file {
  border: none;
  font-family: Monaco, Menlo, Consolas, Courier New, monospace;
  margin: 0;
}
.m-cnt .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.m-cnt .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 1.5em 0 0;
}
.m-cnt .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.m-cnt .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.m-cnt .gist .gist-file .gist-meta {
  background: #2d2d2d;
  color: #999;
  font: 0.85em "Georgia", serif;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
}
.m-cnt .gist .gist-file .gist-meta a {
  color: #2ca6cb;
  font-weight: normal;
}
.m-cnt .gist .gist-file .gist-meta a:hover {
  color: #2ca6cb;
}
pre .comment,
pre .title {
  color: #999;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #f2777a;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f99157;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #9c9;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #9c9;
}
pre .css .hexcolor {
  color: #6cc;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #69c;
}
pre .keyword,
pre .javascript .function {
  color: #c9c;
}
/*********/
.m-pdpager{}
.m-pdpager a{
	display: block;
	margin-bottom: 10px;
}
.m-ft {
	font-size: 16px;
}
.m-ft a {
	font-weight: bold;
}
.m-totop {
	position: fixed;
	bottom: 4em;
	right: 2em;
	cursor: pointer;
}
.m-jiathis {
	overflow: hidden;
	padding: 5px 0;
}

/*unit*/
.u-logo{
	float : left;
	width : 10em;
	height: 100%;
	margin-right:1em;
	text-align: center;
	line-height: 1.8;
	background-color: rgba(255,255,255,0.1);
}

.u-logo span {
	display: inline-block;
	font-size: 32px;
	font-family:hzguangbiao44260;
	color: #fff;
}

.u-post{
	display: block;
	height: 60px;
	line-height: 60px;
	width: 100%;
	background-color: #fff;
	padding-left: 20px;
	margin-bottom: 2px;
	border-left: 5px solid #ccc;
}

.u-post span {
	display: inline-block;
}

.u-post .time {
	font-size:16px;
	margin-right: 40px;
	color: #817c7c;
}

.u-post .title {
	font-size:24px;
	color: rgba(70,93,76,0.8);
}
.u-post:hover {
	border-left-color: rgba(70,93,76,0.8);
}
.u-icon {
	font-family: icons;
}
.u-icon-mark {
	margin-right: 5px;
}
.u-icon-rss {
	font-size: 50px;
}
.u-icon-comments {
	display: inline-block;
	float: right;
	margin: -4px 0 2px 0;
	font-size: 35px;
	color:rgb(70,93,76);
}