<div class="g-hd">
  <div class="m-header">
      <div class="u-logo">
        <span>&lt;前端博客/&gt;</span>
      </div>
      <div class="m-nav">
         <ul>
           <li><a href="/atom.xml"><span class="u-icon u-icon-rss">^</span></a></li>
         </ul>
      </div>
  </div>
</div>